* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body {
    font-family: "Poppins";
    // width: 1200px;
   
}
.container {
    max-width: 1440px;

    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.header__container {
width: 1410px;
    display: flex;
align-items: center;
margin-bottom: 130px;
  margin-top: 30px;
    justify-content: space-evenly;
    .logo {
        display: flex;
        gap: 10px;
        h2 {
            color: #293A3C;
            font-family: Poppins;
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }
    }
  
}
  
.nav h2 {
    color: #293A3C;
font-family: Poppins;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
    margin-left: 190px;

}

.nav ul a {
    width: 317px;
    height: 21px;
    text-decoration: none;
    color: #293A3C;
text-align: right;
font-family: Poppins;
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: normal;
&:hover {
    color:rgb(54, 26, 216);
}
}
@import "./header";

.button button {
    width: 130px;
height: 42px;
flex-shrink: 0;
border-radius: 10px;
border: 2px solid #0061FE;
margin-right: -150px;

.h3 {
    color: #111316;
text-align: center;
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
}



&:hover {
    background:#0061FE;
}
}

.main_container .main-text h2 {
    width: 561px;
    margin-left: 165px;
    color: #293A3C;
font-family: "Gilroy-Bold";
font-size: 50px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-bottom: 20px;


}

 .main_container {
    display: flex;
    // width: 1400px;
 }
.main_container .main-text p {
    
        color: #293A3C;
    font-family: Gilroy-Regular;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 155.556% */
    width: 598px;
    height: 84px;
    margin-left: 165px;
    }

    .main_container .main-text {
        button {
            margin-left: 165px;
            margin-top: 70px;
            width: 225px;
height: 70px;
flex-shrink: 0;
border:none;
border-radius: 10px;
background: #0061FE;
cursor: pointer;
transition: all 0,5s;
margin-bottom: 230px;
&:hover{
    background:#093c8f;
}

h3 {
  
    color: #FFF;
text-align: center;
font-family: Gilroy-Bold;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 130%; /* 26px */
}
        }
    }

    .main_container .main-img  .back-img {
        width: 876.583px;
        margin-right: 300px;
height: 646.313px;
transform: rotate(-360.92deg);
flex-shrink: 0;
// margin-right: 370px;



}
.main_container .main-img img {
    position: absolute;
   
    margin-left: 30px;
}